<!DOCTYPE html>
<html lang="@(ViewData["Language_Code"] ?? "en")">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Constants.APPLICATION_NAME</title>
    @* Css import render *@
    @await Component.InvokeAsync("StyleSheet")
</head>
<body>
    <section>
        <script src="~/js/store.js"></script>
        <script src="~/js/common.js"></script>
    </section>

    @* Main content *@
    <main id="page-load">
        @await Component.InvokeAsync("NavBar")
        <div class="render-content position-relative w-100">
            @await Component.InvokeAsync("Header")
            <div class="main-content w-100 p-2">
                @RenderBody()
            </div>
            @await Component.InvokeAsync("Footer")
        </div>
        @await Component.InvokeAsync("ThemeSetting")
        @await Component.InvokeAsync("BackToTop")
    </main>

    @* Script import render *@
    @await Component.InvokeAsync("Script")
    @RenderSection("Scripts", required: false)
</body>
</html>
