@* Copyright (c) 2024 - Jun Dev. All rights reserved *@

@model CreatedByBadgeViewModel

@if (Model.CreatedName != null)
{
	<div class="created-by-badge d-inline-flex gap-1 align-items-center @(Model.ClassName)">
		<span class="badge text-bg-secondary @(Model.IsPill ? "rounded-pill" : string.Empty)">
			@Model.CreatedName
		</span>
		<span class="date-info">
			<i class="fa-light fa-clock mr-1"></i>
			<em class="only-hover">@Model.DateCreated.ToString(Constants.DATE_FORMAT_SHORT_DATE)</em>
			<em>@DateTimeUtilitiy.ToTotalDays(Model.DateCreated, _localizer.Dictionary)</em>
		</span>
	</div>
}
