@* // Copyright (c) 2024 - Jun Dev. All rights reserved *@

@model RoleSettingViewModel
@{
	ViewData[Constants.GLOBAL_KEY_TITLE] = _localizer.Globals["Nav_Role_List"];
	ViewData[Constants.GLOBAL_KEY_CURRENT_PAGE] = "RoleList_Page";

	// Page Breadcrumb
	var breadcrumbs = new Breadcrumb[]
	{
		new Breadcrumb { Title = _localizer.Globals["Nav_Home"].Value, Href = Constants.MODULE_HOME_HOME_PATH },
		new Breadcrumb { Title = _localizer.Globals["Nav_Role_List"].Value, Href = Constants.MODULE_ROLE_ROLELIST_PATH },
		new Breadcrumb { Title = Model.Information?.Name ?? "New", IsDisabled = true }
	};
}

@section ViewCss {
	<link rel="stylesheet" href="~/css/view/role/role-setting.css" asp-append-version="true" />
}

@await Component.InvokeAsync(Constants.MANAGER_COMPONENT_NAME_BREADCRUMB, breadcrumbs)

<div class="d-flex flex-column site-card p-0">
	<aside id="roleTabs">
		<ul class="nav nav-underline" role="tablist">
			<li class="nav-item" role="presentation">
				<a id="roleInfoTab" class="nav-link active" href="#roleInformation" role="tab" data-bs-toggle="tab" aria-controls="role-information" aria-selected="true">
					<i class="fa-light fa-circle-info fa-fw me-2"></i>
					@_localizer.Globals["RoleSetting_TabTitle_Info"]
				</a>
			</li>
			<li class="nav-item" role="presentation">
				<a id="roleSettingTab" class="nav-link" href="#roleSetting" role="tab" data-bs-toggle="tab" aria-controls="role-setting" aria-selected="false">
					<i class="fa-light fa-screwdriver-wrench fa-fw me-2"></i>
					@_localizer.Globals["RoleSetting_TabTitle_Setting"]
				</a>
			</li>
		</ul>
	</aside>
	<div id="roleTabContent" class="tab-content py-2">
		<section id="roleInformation" class="tab-pane fade show active" role="tabpanel" aria-labelledby="role-information-tab">
			<div class="row g-md-2 gx-2 gy-2 px-md-5 my-2">
				<div class="col-md-7 col-12 d-none">
					<div class="form-group">
						<input asp-for="Information.RoleId" id="roleId" type="hidden" class="form-control" />
					</div>
				</div>
				<div class="col-md-7 col-12">
					<div class="form-group">
						<label asp-for="Information.Name">@_localizer.Fields["Role_Name"]</label>
						<input asp-for="Information.Name" id="roleName" type="text" class="form-control" placeholder="@_localizer.Globals["PlaceHolder_TextBox"] @_localizer.Fields["Product_ProductId"]..." />
						<span asp-validation-for="Information.Name" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-2 col-6">
					<div class="form-group">
						<label asp-for="Information.Priority">@_localizer.Fields["Role_Priority"]</label>
						<input asp-for="Information.Priority" id="rolePriority" type="text" class="form-control" placeholder="@_localizer.Globals["PlaceHolder_TextBox"] @_localizer.Fields["Product_ProductId"]..." />
						<span asp-validation-for="Information.Priority" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-3 col-6">
					<div class="form-group">
						<label asp-for="Information.Status">@_localizer.Fields["Role_Status"]</label>
						<input asp-for="Information.Status" id="roleStatus" type="text" class="form-control" placeholder="@_localizer.Globals["PlaceHolder_TextBox"] @_localizer.Fields["Product_ProductId"]..." />
						<span asp-validation-for="Information.Status" class="text-danger"></span>
					</div>
				</div>
				<div class="col-12">
					<div class="form-group">
						<label asp-for="Information.Description">@_localizer.Fields["Role_Description"]</label>
						<textarea asp-for="Information.Description" id="roleDesc" type="text" class="form-control" placeholder="@_localizer.Globals["PlaceHolder_TextBox"] @_localizer.Fields["Product_ProductId"]..." rows="3"></textarea>
						<span asp-validation-for="Information.Description" class="text-danger"></span>
					</div>
				</div>
				<div class="col-12 d-flex justify-content-end form-group-control">
					<button type="button" class="btn site-btn-success btn-create">
						<i class="fa-light fa-plus"></i>
						@_localizer.Globals["Btn_Create"]
					</button>
					<button type="button" class="btn site-btn-primary btn-update">
						<i class="fa-light fa-floppy-disk"></i>
						@_localizer.Globals["Btn_SaveChanges"]
					</button>
				</div>
			</div>
		</section>
		<section id="roleSetting" class="tab-pane fade" role="tabpanel" aria-labelledby="role-setting-tab">
			<div class="p-1 mb-2 d-flex justify-content-end form-group-control">
				<button type="button" class="btn site-btn-primary btn-update">
					<i class="fa-light fa-pencil"></i>
					@_localizer.Globals["Btn_SaveChanges"]
				</button>
			</div>
			<div class="page-error-message px-2">
				<div class="role-error-message alert alert-danger" role="alert">
				</div>
			</div>
			<div class="role-wrapper">
				<div class="accordion">
					@for (var groupIndex = 0; groupIndex < Model.PermissionGroups.Count; groupIndex++)
					{
						var permissionGroup = Model.PermissionGroups[groupIndex];
						var permissionList = permissionGroup.PermissionList;
						var groupTargetId = $"roleSelectGroup{groupIndex}";

						<div class="accordion-item">
							<h2 class="accordion-header d-flex gap-2 align-items-center">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@(groupTargetId)" aria-expanded="false">
									@permissionGroup.GroupName
								</button>
							</h2>
							<div id="@(groupTargetId)" class="accordion-collapse collapse">
								<ul class="accordion-body row">
									@* Set default page input (redirect to this page after login success) *@
									<li class="col-md-4 col-6">
										<div class="form-check">
											<input id="@($"btnDefaultPage_{groupIndex}")" class="form-check-input default-page-checkbox" type="radio" name="defaultPage" value="@(groupIndex)">
											<label class="form-check-label" for="@($"btnDefaultPage_{groupIndex}")">Default page</label>
										</div>
									</li>
									@* Just display if exist any permission *@
									@if (permissionList.Count > 0)
									{
										<li class="col-md-8 col-6">
											<div class="form-check form-switch">
												<input class="form-check-input select-all-check" type="checkbox" role="switch" id="@($"selectAll_{groupIndex}")">
												<label class="form-check-label" for="@($"selectAll_{groupIndex}")">Select all</label>
											</div>
										</li>
									}
									@* Show permission list *@
									@for (var permIndex = 0; permIndex < permissionList.Count; permIndex++)
									{
										var permissionItem = permissionList[permIndex];
										var itemTargetId = $"item_{groupIndex}_{permIndex}";

										<li class="col-md-4 col-12">
											<div class="form-check form-switch">
												<input class="form-check-input permission-select-input" type="checkbox" role="switch" id="@(itemTargetId)" value="@(permissionItem.Value)">
												<label class="form-check-label" for="@(itemTargetId)">@permissionItem.Name</label>
											</div>
										</li>
									}
								</ul>
							</div>
						</div>
					}
				</div>
			</div>
			<div class="p-1 mt-2 d-flex justify-content-end form-group-control">
				<button type="button" class="btn site-btn-primary btn-update">
					<i class="fa-light fa-floppy-disk"></i>
					@_localizer.Globals["Btn_SaveChanges"]
				</button>
			</div>
		</section>
	</div>
</div>

@section ViewScript {
	<script src="~/js/areas/roles/role-setting/role-setting-handler.js" type="module" asp-append-version="true"></script>
}
