<!DOCTYPE html>
<html lang="@Constants.PAGE_LANGUAGE_OPTIONS">
<head>
    <meta charset="@Constants.PAGE_CHARSET_OPTIONS" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData[Constants.GLOBAL_KEY_TITLE] - @Constants.CONFIG_APP_NAME</title>
    @await Component.InvokeAsync(Constants.ERP_COMPONENT_NAME_STYLE_SHEET)
</head>
<body>
    @* Main content *@
    <main id="page-load">
        @RenderBody()
    </main>
    @* Script import render *@
    @await Component.InvokeAsync(Constants.ERP_COMPONENT_NAME_SCRIPT)
    <section id="viewScript">
        @RenderSectionAsync(Constants.ERP_SECTION_NAME_VIEW_SCRIPT, required: false)
    </section>
</body>
</html>
