<!DOCTYPE html>
<html lang="@Constants.PAGE_LANGUAGE_OPTIONS">
<head>
    <meta charset="@Constants.PAGE_CHARSET_OPTIONS" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData[Constants.GLOBAL_KEY_TITLE] - @Constants.CONFIG_APP_NAME</title>
    @* Css import render *@
    @await Component.InvokeAsync(Constants.ERP_COMPONENT_NAME_STYLE_SHEET)
</head>
<body>
    <section id="startupJs">
        <script src="~/js/store.js"></script>
        <script src="~/js/common.js"></script>
        <script>
            showLoading(typeLoading.text);
        </script>
    </section>

    @* Main content *@
    <main id="page-load">
        @await Component.InvokeAsync("NavBar")
        <div class="render-content">
            @await Component.InvokeAsync(Constants.ERP_COMPONENT_NAME_HEADER, new HeaderViewModel { IsShowNavbarSwitch = true, IsFullScreen = true })
            <div class="main-content">
                @RenderBody()
            </div>
            @await Component.InvokeAsync(Constants.ERP_COMPONENT_NAME_FOOTER)
        </div>
        <aside id="utilitySideBar">
            @await Component.InvokeAsync(Constants.ERP_COMPONENT_NAME_THEME_SETTING)
            @await Component.InvokeAsync(Constants.ERP_COMPONENT_NAME_BACK_TOP)
        </aside>
    </main>

    @* Script import render *@
    @await Component.InvokeAsync(Constants.ERP_COMPONENT_NAME_SCRIPT)
    <section id="viewScript">
        @RenderSectionAsync(Constants.ERP_SECTION_NAME_VIEW_SCRIPT, required: false)
    </section>
</body>
</html>
