<!DOCTYPE html>
<html lang="@(ViewData[Constants.GLOBAL_KEY_LANGUAGE_CODE] ?? Constants.CONFIG_DEFAULT_LANGUAGE_OPTIONS)">
<head>
    <meta charset="@Constants.CONFIG_CHARSET_OPTIONS" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData[Constants.GLOBAL_KEY_TITLE] - @Constants.APPLICATION_NAME</title>
    @* Css import render *@
    @await Component.InvokeAsync(Constants.ERP_COMPONENT_NAME_STYLE_SHEET)
</head>
<body>
    <section id="startupJs">
        <script src="~/js/store.js"></script>
        <script src="~/js/common.js"></script>
        <script>
            const sessionToken = '@(ViewData[Constants.GLOBAL_KEY_SESSION_TOKEN])';
            showLoading(typeLoading.text);
        </script>
    </section>
    @await Component.InvokeAsync(Constants.ERP_COMPONENT_NAME_SCRIPT)
    
    @await Component.InvokeAsync(Constants.ERP_COMPONENT_NAME_HEADER, new HeaderViewModel())
    @* Main content *@
    <main id="page-load">
        <div class="render-content">
            <div class="main-content">
                @RenderBody()
            </div>
            @await Component.InvokeAsync(Constants.ERP_COMPONENT_NAME_FOOTER)
        </div>
        <aside id="utilitySideBar">
            @await Component.InvokeAsync(Constants.ERP_COMPONENT_NAME_BACK_TOP)
        </aside>
    </main>

    @* Script import render *@
    @RenderSection("Scripts", required: false)
</body>
</html>
