@* // Copyright (c) 2024 - Jun Dev. All rights reserved *@

@model ErrorPageViewModel
@{
	Layout = "_Layout_Error";
	ViewData[Constants.GLOBAL_KEY_TITLE] = _localizer.Globals["Nav_Error_ErrorPage"];
}

@section ViewCss {
	<link rel="stylesheet" href="~/css/view/global//error.css" asp-append-version="true" />
}

<section class="error-page">
	<div class="wrapper">
		<div class="content">
			<div class="error-content mb-4">
				<h2 class="mb-0">@Model.Title</h2>
				<p>@Model.Message</p>
			</div>
			<div class="error-control">
				<button id="btnBack" class="btn site-btn-success" onclick="backPreviousPage()">@_localizer.Globals["Btn_Back"]</button>
				<button id="btnContact" class="btn site-btn-outline-success" data-bs-toggle="modal" data-bs-target="#btnContactUs">@_localizer.Globals["Btn_ContactAdmin"]</button>
			</div>
		</div>
	</div>
</section>
@await Component.InvokeAsync(Constants.ERP_COMPONENT_NAME_FORMCONTACT, new FormContactViewModel { TargetButtonId = "btnContactUs", IsShowType = true, TypeForm = FormContactTypeEnum.ContactAdmin })
@section ViewScript {
	<script>
		function backPreviousPage() {
			const currentUrl = window.location.href;
			const previousUrl = document.referrer;
			if (currentUrl == previousUrl) {
				window.location.href = '@(Constants.MODULE_AUTH_SIGNIN_PATH)';
			}

			history.back();
		}
	</script>
}
