@* // Copyright (c) 2024 - Jun Dev. All rights reserved *@

@model FormContactViewModel
@{
	var ddlFormType = ViewBag.FormType as List<SelectListItem> ?? new List<SelectListItem>();
	var displayStyle = Model.IsShowType ? "block" : "none";
}

<section id="formContact">
	<div class="modal modal-lg fade modal-dialog-scrollable" id="@Model.TargetButtonId" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5">@_localizer.Globals["Title_FormContact"]</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="form-group mb-2" style="display: @(displayStyle);">
						<label for="formContactType" class="form-label">@_localizer.Fields["FormContact_Type"]</label>
						@Html.DropDownList(expression: "formContact", selectList: ddlFormType, htmlAttributes: new { Id = "formContactType", Class = "form-select" })
					</div>
					<div class="form-group mb-2">
						<label for="formContactName" class="form-label">@_localizer.Fields["FormContact_Name"]</label>
						<input id="formContactName" data-id="name" type="text" class="form-control" placeholder="@(_localizer.Globals["PlaceHolder_TextBox"]) (@_localizer.Fields["FormContact_Name"])..." />
						<span class="text-danger"></span>
					</div>
					<div class="form-group mb-2">
						<label for="formContactEmail" class="form-label">@_localizer.Fields["FormContact_Email"]</label>
						<input id="formContactEmail" data-id="email" type="text" class="form-control" placeholder="@(_localizer.Globals["PlaceHolder_TextBox"]) (@_localizer.Fields["FormContact_Email"])..." />
						<span class="text-danger"></span>
					</div>
					<div class="form-group mb-2">
						<label for="formContactTel" class="form-label">@_localizer.Fields["FormContact_Tel"]</label>
						<input id="formContactTel" data-id="tel" type="text" class="form-control" placeholder="@(_localizer.Globals["PlaceHolder_TextBox"]) (@_localizer.Fields["FormContact_Tel"])..." />
						<span class="text-danger"></span>
					</div>
					<div class="form-group mb-2">
						<label for="formMessage" class="form-label">@_localizer.Fields["FormContact_Message"]</label>
						<textarea id="formMessage" data-id="message" type="text" class="form-control" rows="4" placeholder="@(_localizer.Globals["PlaceHolder_TextBox"]) @(_localizer.Fields["FormContact_Message"])..."></textarea>
						<span class="text-danger"></span>
					</div>
				</div>
				<div class="modal-footer">
					<button id="btnSendContact" type="button" class="btn site-btn-primary">@_localizer.Globals["Btn_Send"]</button>
					<button id="btnCloseContact" type="button" class="btn site-btn-danger" data-bs-dismiss="modal">@_localizer.Globals["Btn_Close"]</button>
				</div>
			</div>
		</div>
	</div>
	<script>
		const handleFormContact = () => {
			const formSection = document.querySelector('#formContact');
			const btnSend = formSection.querySelector('#btnSendContact');
			const btnClose = formSection.querySelector('#btnCloseContact');
			const formType = formSection.querySelector('#formContactType');
			const formName = formSection.querySelector('#formContactName');
			const formEmail = formSection.querySelector('#formContactEmail');
			const formTel = formSection.querySelector('#formContactTel');
			const formMessage = formSection.querySelector('#formMessage');

			const telRegexExp = /^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$/
			var constraints = {
				name: {
					presence: {
						allowEmpty: false,
						message: '^@Html.Raw(_localizer.Validates["ErrorMsg_IsRequired"].Value)'
					}
				},
				email: {
					presence: {
						allowEmpty: false,
						message: '^@Html.Raw(_localizer.Validates["ErrorMsg_IsRequired"].Value)'
					},
					email: {
						message: '^@Html.Raw(_localizer.Validates["ErrorMsg_EmailInvalid"].Value)'
					}
				},
				tel: {
					presence: {
						allowEmpty: false,
						message: '^@Html.Raw(_localizer.Validates["ErrorMsg_IsRequired"].Value)'
					},
					format: {
						pattern: telRegexExp,
						message: '^@Html.Raw(_localizer.Validates["ErrorMsg_TelNotCorrect"].Value)'
					}
				}
			};

			const getData = () => ({
				type: Number(formType?.value || 0),
				name: formName.value,
				email: formEmail.value,
				tel: formTel.value,
				message: formMessage.value,
			});

			const validateForm = () => {
				const data = getData();
				const result = validate(data, constraints);

				return [!result, result];
			}

			const resetErrorMessage = () => {
				formSection.querySelectorAll('.form-group span').forEach(element => {
					element.innerHTML = '';
				});
			};

			const setMessage = (element, message = '') => {
				const messageElement = element.closest('.form-group').querySelector('span');
				if (messageElement) messageElement.innerHTML = message;
			};

			const handleSetErrorMessage = (errorMessages) => {
				const controls = formSection.querySelectorAll('.form-group input');
				controls.forEach((element) => {
					// Get key value form error message collection
					const key = element.dataset['id'] || '';
					const errorMessage = errorMessages[key] || '';

					// Set error message
					setMessage(element, errorMessage[0]);
				});
			};

			const clearFormData = () => {
				const controls = formSection.querySelectorAll('.form-group input');
				controls.forEach((element) => { element.value = '' });
			};

			const onSend = (event) => {
				// Begin progress by clearing all error messages
				resetErrorMessage();

				// Handle validate form value
				const [status, errorMessages] = validateForm();
				if (!status) {
					handleSetErrorMessage(errorMessages);
					return;
				};

				// Send request to send mail
				const url = '@(Constants.ENDPOINT_COMMON_MAIL_SENDMAIL_CONTACT_OPERATOR)';
				const data = getData();
				const onSuccess = (response) => {
					toastr.success(response);
					clearFormData();
					btnClose?.click();
				};
				callAjax({ url, data, onSuccess });
			};

			// Execute when send form
			btnSend.addEventListener('click', onSend);
			const inputControls = formSection.querySelectorAll('.form-group input');
			inputControls.forEach((input) => {
				input.addEventListener('blur', (event) => {
					// Get and set error message if there are any error message after validate
					const [status, errorMessages] = validateForm();
					if (!status) {
						// Get key value form error message collection
						const key = event.target.dataset['id'] || '';
						const errorMessage = errorMessages[key] || '';

						// Set error message for target input
						setMessage(event.target, errorMessage[0]);
						return;
					};

					// Clear error message when form validation ok
					resetErrorMessage();
				});
			});
		};
		StoreWindowLoadCallback.push(handleFormContact);
	</script>
</section>
