@* // Copyright (c) 2024 - Jun Dev. All rights reserved *@

@model LanguageSwitcherViewModel

<section id="languageButton">
	<form id="languageSwitcherForm" asp-route="@(Constants.ENDPOINT_COMMON_CHANGE_LANGUAGE_NAME)" method="get">
		<select name="culture" class="form-select form-select-sm site-rounded-full ps-3 pr-4" id="languageDropdown" onchange="formSubmit()">
			@foreach (var culture in Model.AvailableCultures)
			{
				var isCurrentCulture = Model.CurrentCulture == culture.Culture;

				<option value="@culture.Culture" disabled="@isCurrentCulture" selected="@isCurrentCulture">
					@culture.DisplayName
				</option>
			}
		</select>
		<input type="hidden" name="returnUrl" value="@Context.Request.Path" />
	</form>
	<script>
		const formSubmit = (culture) => {
			const languageForm = document.getElementById("languageSwitcherForm");
			languageForm.submit();
		}
	</script>
</section>