@model (string[] Images, string IdTarget)

<section id="carousel">
    <div id="@Model.IdTarget" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            @for (var index = 0; index < Model.Images.Length; index++)
            {
                <button type="button" data-bs-target="#@Model.IdTarget" data-bs-slide-to="@index" class="active" aria-current="@(index == 0 ? "true" : "false")"></button>
            }
        </div>
        <div class="carousel-inner">
            @for (var index = 0; index < Model.Images.Length; index++)
            {
                <div class="carousel-item @(index == 0 ? "active" : string.Empty)">
                    <img src="@Model.Images[index]" class="d-block w-100">
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#@Model.IdTarget" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#@Model.IdTarget" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
