@* // Copyright (c) 2024 - Jun Dev. All rights reserved *@

<!DOCTYPE html>
<html lang="@Constants.PAGE_LANGUAGE_OPTIONS">
<head>
	<meta charset="@Constants.PAGE_CHARSET_OPTIONS" />
	<title>@ViewData[Constants.GLOBAL_KEY_TITLE] - @Constants.CONFIG_APP_NAME</title>
	@* Render meta *@
	@await Component.InvokeAsync(Constants.MANAGER_COMPONENT_NAME_SITE_META)
	@* Css import render *@
	@await Component.InvokeAsync(Constants.MANAGER_COMPONENT_NAME_STYLE_SHEET)
	@* Render view section: css *@
	@RenderSection(Constants.ERP_SECTION_NAME_VIEW_CSS, required: false)
	@* Add common js *@
	<script src="~/js/store.js" asp-append-version="true"></script>
	<script src="~/js/common.js" asp-append-version="true"></script>
</head>
<body>
	<script src="~/js/init-script.js" asp-append-version="true"></script>
	@* Main content *@
	<main id="page-load">
		@RenderBody()
	</main>
	@* Script import render *@
	@await Component.InvokeAsync(Constants.MANAGER_COMPONENT_NAME_SCRIPT)
	<section id="viewScript">
		@RenderSection(Constants.ERP_SECTION_NAME_VIEW_SCRIPT, required: false)
	</section>
</body>
</html>
