@{
    ViewData[Constants.GLOBAL_KEY_TITLE] = _globalsLocalizer["Nav_Product_Register"];
    ViewData[Constants.GLOBAL_KEY_CURRENT_PAGE] = "ProductRegister_Page";

    var breadcrumbs = new Breadcrumb[]
    {
        new Breadcrumb { Title = _globalsLocalizer["Nav_Home"].Value, Href="/" },
        new Breadcrumb { Title = _globalsLocalizer["Nav_Product_List"].Value, Href = Constants.MODULE_PRODUCT_PRODUCTLIST_PATH },
        new Breadcrumb { Title = _globalsLocalizer["Nav_Product_Register"].Value, IsDisabled = true }
    };
}
@model ProductModel

@await Component.InvokeAsync("Breadcrumb", breadcrumbs)

<section id="bodyPageLoad" class="site-card">
    <form asp-area="@Constants.MODULE_PRODUCT_AREA" asp-route="@Constants.MODULE_PRODUCT_PRODUCTREGISTER_NAME" method="post">
        <div class="row">
            <div class="col-md-4 col-6 mb-2">
                <div class="form-group">
                    <label asp-for="ProductId">@_fieldsLocalizer["Product_ProductId"]</label>
                    <input asp-for="ProductId" type="text" class="form-control" placeholder="@_globalsLocalizer["PlaceHolder_TextBox"] @_fieldsLocalizer["Product_ProductId"]..." />
                    <span asp-validation-for="ProductId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-8 col-6 mb-2">
                <div class="form-group">
                    <label asp-for="Name">@_fieldsLocalizer["Product_Name"]</label>
                    <input asp-for="Name" type="text" class="form-control" placeholder="@_globalsLocalizer["PlaceHolder_TextBox"] @_fieldsLocalizer["Product_Name"]..." />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="row">
                    <div class="form-group col-4">
                        <label asp-for="Status">@_fieldsLocalizer["Product_Status"]</label>
                        <input asp-for="Status" type="text" class="form-control" placeholder="@_globalsLocalizer["PlaceHolder_TextBox"] @_fieldsLocalizer["Product_Status"]..." />
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="DisplayPrice">@_fieldsLocalizer["Product_DisplayPrice"]</label>
                        <input asp-for="DisplayPrice" type="text" class="form-control" placeholder="@_globalsLocalizer["PlaceHolder_TextBox"] @_fieldsLocalizer["Product_DisplayPrice"]..." />
                        <span asp-validation-for="DisplayPrice" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="TakeOverId">@_fieldsLocalizer["Product_TakeOverId"]</label>
                        <input asp-for="TakeOverId" type="text" class="form-control" placeholder="@_globalsLocalizer["PlaceHolder_TextBox"] @_fieldsLocalizer["Product_TakeOverId"]..." />
                        <span asp-validation-for="TakeOverId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="row">
                    <div class="form-group col-4">
                        <label asp-for="Price1">@_fieldsLocalizer["Product_Price1"]</label>
                        <input asp-for="Price1" type="text" class="form-control" placeholder="@_globalsLocalizer["PlaceHolder_TextBox"] @_fieldsLocalizer["Product_Price1"]..." />
                        <span asp-validation-for="Price1" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="Price2">@_fieldsLocalizer["Product_Price2"]</label>
                        <input asp-for="Price2" type="text" class="form-control" placeholder="@_globalsLocalizer["PlaceHolder_TextBox"] @_fieldsLocalizer["Product_Price2"]..." />
                        <span asp-validation-for="Price2" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="Price3">@_fieldsLocalizer["Product_Price3"]</label>
                        <input asp-for="Price3" type="text" class="form-control" placeholder="@_globalsLocalizer["PlaceHolder_TextBox"] @_fieldsLocalizer["Product_Price3"]..." />
                        <span asp-validation-for="Price3" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="row">
                    <div class="form-group col-4">
                        <label asp-for="Size1">@_fieldsLocalizer["Product_Size1"]</label>
                        <input asp-for="Size1" type="text" class="form-control" placeholder="@_globalsLocalizer["PlaceHolder_TextBox"] @_fieldsLocalizer["Product_Size1"]..." />
                        <span asp-validation-for="Size1" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="Size2">@_fieldsLocalizer["Product_Size2"]</label>
                        <input asp-for="Size2" type="text" class="form-control" placeholder="@_globalsLocalizer["PlaceHolder_TextBox"] @_fieldsLocalizer["Product_Size2"]..." />
                        <span asp-validation-for="Size2" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="Size3">@_fieldsLocalizer["Product_Size3"]</label>
                        <input asp-for="Size3" type="text" class="form-control" placeholder="@_globalsLocalizer["PlaceHolder_TextBox"] @_fieldsLocalizer["Product_Size3"]..." />
                        <span asp-validation-for="Size3" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="form-group col-md-3 col-6 mb-2">
                        <label asp-for="Address1">@_fieldsLocalizer["Product_Address1"]</label>
                        <input asp-for="Address1" type="text" class="form-control" placeholder="@_globalsLocalizer["PlaceHolder_TextBox"] @_fieldsLocalizer["Product_Address1"]..." />
                        <span asp-validation-for="Address1" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3 col-6 mb-2">
                        <label asp-for="Address2">@_fieldsLocalizer["Product_Address2"]</label>
                        <input asp-for="Address2" type="text" class="form-control" placeholder="@_globalsLocalizer["PlaceHolder_TextBox"] @_fieldsLocalizer["Product_Address2"]..." />
                        <span asp-validation-for="Address2" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3 col-6 mb-2">
                        <label asp-for="Address3">@_fieldsLocalizer["Product_Address3"]</label>
                        <input asp-for="Address3" type="text" class="form-control" placeholder="@_globalsLocalizer["PlaceHolder_TextBox"] @_fieldsLocalizer["Product_Address3"]..." />
                        <span asp-validation-for="Address3" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3 col-6 mb-2">
                        <label asp-for="Address4">@_fieldsLocalizer["Product_Address4"]</label>
                        <input asp-for="Address4" type="text" class="form-control" placeholder="@_globalsLocalizer["PlaceHolder_TextBox"] @_fieldsLocalizer["Product_Address4"]..." />
                        <span asp-validation-for="Address4" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end mt-2">
            <input type="submit" class="btn site-btn-theme" value="@_globalsLocalizer["Btn_Create"]" />
        </div>
    </form>
</section>
