@* // Copyright (c) 2024 - Jun Dev. All rights reserved *@

@{
	ViewData[Constants.GLOBAL_KEY_TITLE] = _localizer.Globals["Nav_Product_Register"];
	ViewData[Constants.GLOBAL_KEY_CURRENT_PAGE] = "ProductRegister_Page";

	var breadcrumbs = new Breadcrumb[]
	{
		new Breadcrumb { Title = _localizer.Globals["Nav_Home"].Value, Href = Constants.MODULE_HOME_HOME_PATH },
		new Breadcrumb { Title = _localizer.Globals["Nav_Product_List"].Value, Href = Constants.MODULE_PRODUCT_PRODUCTLIST_PATH },
		new Breadcrumb { Title = _localizer.Globals["Nav_Product_Register"].Value, IsDisabled = true }
	};
}
@model ProductRegisterViewModel

@await Component.InvokeAsync(Constants.ERP_COMPONENT_NAME_BREADCRUMB, breadcrumbs)

<section id="bodyPageLoad">
	<form id="productRegisterForm" asp-area="@Constants.MODULE_PRODUCT_AREA" asp-route="@Constants.MODULE_PRODUCT_PRODUCTREGISTER_NAME" method="post">
		<div class="row g-md-3 gx-1 gy-2">
			<div class="col-md-5 col-12">
				<div class="site-card">
					<div class="d-flex justify-content-start mb-2">
						<h3>@_localizer.Globals["Title_Product_Images"]</h3>
					</div>
					@await Component.InvokeAsync(Constants.ERP_COMPONENT_NAME_UPLOAD_IMAGE_INPUT, new UploadImageInputViewModel { Name = "Images", Value = Model.PageData.Images, IsMultiple = true, UploadType = "product", UploadFileName = string.Empty })
				</div>
			</div>
			<div class="col-md-7 col-12">
				<div class="site-card">
					<div class="d-flex justify-content-start mb-2">
						<h3>@_localizer.Globals["Title_Product_Info"]</h3>
					</div>
					<div class="row g-md-3 gx-1 gy-2">
						<div class="col-md-4 col-6">
							<div class="form-group">
								<label asp-for="PageData.ProductId">@_localizer.Fields["Product_ProductId"]</label>
								<input asp-for="PageData.ProductId" type="text" class="form-control" placeholder="@_localizer.Globals["PlaceHolder_TextBox"] @_localizer.Fields["Product_ProductId"]..." />
								<span asp-validation-for="PageData.ProductId" class="text-danger"></span>
							</div>
						</div>
						<div class="col-md-8 col-6">
							<div class="form-group">
								<label asp-for="PageData.Name">@_localizer.Fields["Product_Name"]</label>
								<input asp-for="PageData.Name" type="text" class="form-control" placeholder="@_localizer.Globals["PlaceHolder_TextBox"] @_localizer.Fields["Product_Name"]..." />
								<span asp-validation-for="PageData.Name" class="text-danger"></span>
							</div>
						</div>
						<div class="col-12">
							<div class="row g-md-3 gx-1 gy-2">
								<div class="form-group col-md-4 col-6">
									<label asp-for="PageData.Status">@_localizer.Fields["Product_Status"]</label>
									@Html.DropDownListFor(
										model => model.PageData.Status,
										Model.InputOptions.Status,
										new { Class = "form-select" })
									<span asp-validation-for="PageData.Status" class="text-danger"></span>
								</div>
								<div class="form-group col-md-4 col-6">
									<label asp-for="PageData.DisplayPrice">@_localizer.Fields["Product_DisplayPrice"]</label>
									@Html.DropDownListFor(
										model => model.PageData.DisplayPrice,
										Model.InputOptions.DisplayPrice,
										new { Class = "form-select" })
									<span asp-validation-for="PageData.DisplayPrice" class="text-danger"></span>
								</div>
								<div class="form-group col-md-4 col-12">
									<label asp-for="PageData.TakeOverId">@_localizer.Fields["Product_TakeOverId"]</label>
									<select asp-for="PageData.TakeOverId" class="form-select select-search-user">
										@{
											var takeOverIdItem = Model.InputOptions.TakeOverId.FirstOrDefault();
										}
										<option value="@(takeOverIdItem?.Value)">@takeOverIdItem?.Text</option>
									</select>
									<span asp-validation-for="PageData.TakeOverId" class="text-danger"></span>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="row g-md-3 gx-1 gy-2">
								<div class="form-group col-md-4 col-12">
									<label asp-for="PageData.Price1">@_localizer.Fields["Product_Price1"]</label>
									<input asp-for="PageData.Price1" type="text" class="form-control" placeholder="@_localizer.Globals["PlaceHolder_TextBox"] @_localizer.Fields["Product_Price1"]..." />
									<span asp-validation-for="PageData.Price1" class="text-danger"></span>
								</div>
								<div class="form-group col-md-4 col-12">
									<label asp-for="PageData.Price2">@_localizer.Fields["Product_Price2"]</label>
									<input asp-for="PageData.Price2" type="text" class="form-control" placeholder="@_localizer.Globals["PlaceHolder_TextBox"] @_localizer.Fields["Product_Price2"]..." />
									<span asp-validation-for="PageData.Price2" class="text-danger"></span>
								</div>
								<div class="form-group col-md-4 col-12">
									<label asp-for="PageData.Price3">@_localizer.Fields["Product_Price3"]</label>
									<input asp-for="PageData.Price3" type="text" class="form-control" placeholder="@_localizer.Globals["PlaceHolder_TextBox"] @_localizer.Fields["Product_Price3"]..." />
									<span asp-validation-for="PageData.Price3" class="text-danger"></span>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="row g-md-3 gx-1 gy-2">
								<div class="form-group col-md-4 col-12">
									<label asp-for="PageData.Size1">@_localizer.Fields["Product_Size1"]</label>
									<input asp-for="PageData.Size1" type="text" class="form-control" placeholder="@_localizer.Globals["PlaceHolder_TextBox"] @_localizer.Fields["Product_Size1"]..." />
									<span asp-validation-for="PageData.Size1" class="text-danger"></span>
								</div>
								<div class="form-group col-md-4 col-12">
									<label asp-for="PageData.Size2">@_localizer.Fields["Product_Size2"]</label>
									<input asp-for="PageData.Size2" type="text" class="form-control" placeholder="@_localizer.Globals["PlaceHolder_TextBox"] @_localizer.Fields["Product_Size2"]..." />
									<span asp-validation-for="PageData.Size2" class="text-danger"></span>
								</div>
								<div class="form-group col-md-4 col-12">
									<label asp-for="PageData.Size3">@_localizer.Fields["Product_Size3"]</label>
									<input asp-for="PageData.Size3" type="text" class="form-control" placeholder="@_localizer.Globals["PlaceHolder_TextBox"] @_localizer.Fields["Product_Size3"]..." />
									<span asp-validation-for="PageData.Size3" class="text-danger"></span>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="row g-md-3 gx-1 gy-2">
								<div class="form-group col-md-4 col-12">
									<label asp-for="PageData.Address1">@_localizer.Fields["Product_Address1"]</label>
									<select asp-for="PageData.Address1" class="form-select select-search-address-1" id="address1ForInsert">
										@if (string.IsNullOrEmpty(@Model.PageData.Address1) == false)
										{
											<option value="@(Model.PageData.Address1)" selected></option>
										}
									</select>
									<span asp-validation-for="PageData.Address1" class="text-danger"></span>
								</div>
								<div class="form-group col-md-4 col-12">
									<label asp-for="PageData.Address2">@_localizer.Fields["Product_Address2"]</label>
									<select asp-for="PageData.Address2" class="form-select select-search-address-2" id="address2ForInsert" data-parent-id="address1ForInsert">
										@if (string.IsNullOrEmpty(@Model.PageData.Address2) == false)
										{
											<option value="@(Model.PageData.Address2)" selected></option>
										}
									</select>
									<span asp-validation-for="PageData.Address2" class="text-danger"></span>
								</div>
								<div class="form-group col-md-4 col-12">
									<label asp-for="PageData.Address3">@_localizer.Fields["Product_Address3"]</label>
									<select asp-for="PageData.Address3" class="form-select select-search-address-3" id="address3ForInsert" data-parent-id="address2ForInsert">
										@if (string.IsNullOrEmpty(@Model.PageData.Address3) == false)
										{
											<option value="@(Model.PageData.Address3)" selected></option>
										}
									</select>
									<span asp-validation-for="PageData.Address3" class="text-danger"></span>
								</div>
								<div class="form-group col-12">
									<label asp-for="PageData.Address4">@_localizer.Fields["Product_Address4"]</label>
									<input asp-for="PageData.Address4" type="text" class="form-control" placeholder="@_localizer.Globals["PlaceHolder_TextBox"] @_localizer.Fields["Product_Address4"]..." />
									<span asp-validation-for="PageData.Address4" class="text-danger"></span>
								</div>
								<div class="form-group col-12">
									<label asp-for="PageData.EmbeddedLink">@_localizer.Fields["Product_EmbeddedLink"]</label>
									<input asp-for="PageData.EmbeddedLink" type="text" class="form-control" placeholder="@_localizer.Globals["PlaceHolder_TextBox"]..." />
									<span asp-validation-for="PageData.EmbeddedLink" class="text-danger"></span>
								</div>
								<div class="form-group col-12">
									<label asp-for="PageData.RelatedProductId">@_localizer.Fields["Product_RelatedProduct"]</label>
									<input asp-for="PageData.RelatedProductId" type="text" class="form-control" placeholder="@_localizer.Globals["PlaceHolder_TextBox"]..." />
									<span asp-validation-for="PageData.RelatedProductId" class="text-danger"></span>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-12">
				<div class="site-card">
					<div class="d-flex justify-content-start mb-2">
						<h3>@_localizer.Globals["Title_Product_Description"]</h3>
					</div>
					<div class="mb-2">
						<textarea id="form-editor" data-target-selector=".description-input" data-editor-key="productDescription"></textarea>
						<input asp-for="PageData.Description" class="description-input" type="hidden" />
					</div>
					<div class="d-flex justify-content-end gap-2 mt-4">
						<button type="reset" class="btn site-btn-outline-secondary" onclick="resetSearchForm('productRegisterForm')">
							<i class="fa-light fa-arrow-rotate-left"></i>
							@_localizer.Globals["Btn_ResetForm"]
						</button>
						<button type="submit" class="btn site-btn-success">
							<i class="fa-light fa-plus"></i>
							@_localizer.Globals["Btn_Create"]
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	@section ViewScript {
		<script>
			const resetSearchForm = (formId) => {
				if (!formId) return;

				const formTarget = $(`#${formId}`);
				if (!formTarget) return;

				formTarget.find('select').val('').change();
			};
		</script>
	}
</section>
